* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: '/Font/Raleway-Italic-VariableFont_wght.ttf';
    line-height: 1.6;
    background-color: #f2f2f2; 
    color: #333;
}

header {
    background-color: #DEB887;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; 
}

nav ul li a:hover {
    color: #ffcc00; 
}

nav ul li a.active {
    font-weight: bold;
    color: #ffcc00; 
}

main {
    padding: 20px;
}

footer {
    background-color: #DEB887;
    color: #fff;
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    header {
        padding: 10px;
    }
    nav ul {
        display: block;
        margin-top: 10px;
    }
    nav ul li {
        display: block;
        margin: 10px auto;
    }
}

@media print {
    header, footer {
        display: none;
    }
    main {
        margin-top: 20px;
    }
}

main section {
    padding: 20px;
    text-align: center;
}

.project {
    width: 100%;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.project .project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
}
.modal:target {
    display: block;
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s ease; 
}

.close:hover,
.close:focus {
    color: #333;
    cursor: pointer;
}
.contact-list {
    list-style: none;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.btn {
    background-color: #007bff;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.close-button {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 100%;
    }
}
@media print {
    header, nav {
        display: none;
    }

    body {
        font-size: 12pt;
    }

    main {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    body {
        background-color: #fff;
        color: #000;
    }

    .project .project-content {
        display: block;
        text-align: center;
    }

    .project img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    section {
        page-break-after: always;
    }

    .modal, .overlay {
        display: none;
    }
}